@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Kumbh Sans;
}
header{
    margin: 3% 10% 0% 10%;
    display: flex;  
    gap: 10%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(206, 206, 206);
    padding-bottom: 40px;
}
.menulogo{
    display: flex;
    width: 80%;
    align-items: center;
}
.logo{
    margin: 0% 3% 0% 0%;
}
nav{
    justify-items: left;
    width: 100%;
}
nav > a{
    border: none;
    text-decoration: none;
    color: hsl(219, 9%, 45%);
}
.navatar{
    justify-self: right;
}
.avatar{
    width: 40px;
}
main{
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 80%;
    padding-bottom: 10%;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    gap: 25px;
    margin: 5% 0% 0% 10%;
}
.photo{
    width: 100%;
    border-radius: 30px;
}
.thumbnails{
    display: flex;
    width: 100%;
}
.thumbnail{
    border-radius: 15px;
    height: fit-content;
    padding: 5px;
    width: 25%;
}
.right{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    gap: 15px;
}
.company{
    color: hsl(26, 100%, 55%);
}
.name{
    color: hsl(220, 13%, 13%);
}
.description{
    color: hsl(219, 9%, 45%);
}
.price{
    display: flex;
    gap: 15px;
    align-items: center;
    color: hsl(220, 13%, 13%);
}
.percent{
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
}
.discount{
    color: hsl(220, 14%, 75%);
}
.cartnav{
    display: flex;
    gap: 20%;
}
.cartnav > button{
    display: flex;
    border: none;
    background-color: hsl(26, 100%, 55%);
    color: #fff;
    width: 400px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}
.amount{
    display: flex;
    padding: 5px;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(223, 64%, 98%);
}
.amount >button{
    border: none;
    padding: 10px;
}
